@import '../../styles/variables.scss';

.gallery-subtitle {
	margin-bottom: 2rem;
}
.gallery-container button.nav-link {
	margin: 70px auto 0;
	letter-spacing: 0;
}

.gallery-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2px;
	@include tablet {
		grid-template-columns: repeat(2, 1fr);
	}
	@include mobile {
		grid-template-columns: repeat(1, 1fr);
	}
	> div {
		position: relative;
		cursor: pointer;
		height: 300px;
		&:before, 
		&:after {
			content: "";
			position: absolute;
			display: block;
			transition: .2s;
		}
		&:before {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		&:after {
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%) scale(0);
			background: url('./images/zoom.svg') no-repeat center / contain;
			width: 70px;
			height: 70px;
		}
		&:hover:before{
			background:rgba(0, 0, 0, .8);
		}
		&:hover:after {
			transform: translate(-50%, -50%) scale(1);
		}
	}
}

.gallery-img {
	object-fit: cover;
}

.gallery-modal {
	z-index: 100;
	background-color: rgba(0, 0, 0, .9);
	.overlay {
		z-index: -1;
	}
	img {
		width: auto;
		height: auto;
		max-width: calc(100% - 80px);
		max-height: calc(100% - 80px);
		object-fit: contain;
		@include tablet {
			max-width: calc(100% - 30px);
			max-height: calc(100% - 30px);
		}
	}
	.slide-item {
		position: absolute;
		top: 50%;
		left: 50%;
		transition: .4s;
		&[data-active="true"] {
			transform: translate(-50%, -50%);
		}
	}
	.slide-item[data-active="false"] {
		transform: translate(calc(-100vw - 50%), -50%);
	}
	.slide-item[data-active="true"] ~ .slide-item[data-active="false"] {
		transform: translate(calc(100vw + 50%), -50%);
	}
	.arrow {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background: rgba(32, 32, 32, .5);
		cursor: pointer;
		border-radius: 50%;
		height: 56px;
		width: 56px;
		z-index: 1;
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-55%, -50%) rotate(-45deg);
			width: 9px;
			height: 9px;
			border: 3px solid $snow;
			border-width: 0 3px 3px 0;
		}
		&:hover:after {
			border-color: $blue-main;
		}
	}
	.modal-next {
		right: 30px;
		@include tablet {
			right: 2px;
		}
	}
	.modal-prev {
		left: 30px;
		@include tablet {
			left: 2px;
		}
		&:after {
			transform: translate(-45%, -50%) rotate(135deg);
		}
	}
}