@font-face {
	font-family: 'Segoe UI';
	src: url('../assets/fonts/SegoeUI.eot');
	src: url('../assets/fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/SegoeUI.woff2') format('woff2'),
		url('../assets/fonts/SegoeUI.woff') format('woff'),
		url('../assets/fonts/SegoeUI.ttf') format('truetype'),
		url('../assets/fonts/SegoeUI.svg#SegoeUI') format('svg');
}

@font-face {
	font-family: 'Louis George Caf';
	src: url('../assets/fonts/LouisGeorgeCafe.eot');
	src: url('../assets/fonts/LouisGeorgeCafe.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/LouisGeorgeCafe.woff2') format('woff2'),
		url('../assets/fonts/LouisGeorgeCafe.woff') format('woff'),
		url('../assets/fonts/LouisGeorgeCafe.ttf') format('truetype'),
		url('../assets/fonts/LouisGeorgeCafe.svg#LouisGeorgeCafe') format('svg');
}

@font-face {
	font-family: 'Louis George Caf Bold';
	src: url('../assets/fonts/LouisGeorgeCafe-Bold.eot');
	src: url('../assets/fonts/LouisGeorgeCafe-Bold.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/LouisGeorgeCafe-Bold.woff2') format('woff2'),
		url('../assets/fonts/LouisGeorgeCafe-Bold.woff') format('woff'),
		url('../assets/fonts/LouisGeorgeCafe-Bold.ttf') format('truetype'),
		url('../assets/fonts/LouisGeorgeCafe-Bold.svg#LouisGeorgeCafe-Bold') format('svg');
}

@font-face {
	font-family: 'Coming Soon';
	src: url('../assets/fonts/ComingSoon-Regular.eot');
	src: url('../assets/fonts/ComingSoon-Regular.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/ComingSoon-Regular.woff2') format('woff2'),
		url('../assets/fonts/ComingSoon-Regular.woff') format('woff'),
		url('../assets/fonts/ComingSoon-Regular.ttf') format('truetype'),
		url('../assets/fonts/ComingSoon-Regular.svg#ComingSoon-Regular') format('svg');
}

@font-face {
	font-family: 'Indie Flower';
	src: url('../assets/fonts/IndieFlower.eot');
	src: url('../assets/fonts/IndieFlower.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/IndieFlower.woff2') format('woff2'),
		url('../assets/fonts/IndieFlower.woff') format('woff'),
		url('../assets/fonts/IndieFlower.ttf') format('truetype'),
		url('../assets/fonts/IndieFlower.svg#IndieFlower') format('svg');
}

@font-face {
	font-family: 'icomoon';
	src: url('../assets/fonts/icomoon.eot');
	src: url('../assets/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/icomoon.woff') format('woff'),
		url('../assets/fonts/icomoon.ttf') format('truetype'),
		url('../assets/fonts/icomoon.svg#icomoon') format('svg');
}
[class^="icon-"],
[class*=" icon-"] {
	font-family: 'icomoon' !important;
	display: block;
	width: 20px;
	height: 20px;
	font-size: 20px;
	line-height: 1;
	color: #fff;
}

.icon-cv:before {
	content: "\e900";
}

.icon-octopus:before {
	content: "\e901";
}

.icon-phone:before {
	content: "\e902";
}

.icon-plane:before {
	content: "\e903";
}